<!--The content below is only a placeholder and can be replaced.-->
<div id="highestContainer" style="background-color: rgb(209, 132, 132);">
  <div>
    <span id="mySpan">
      {{ title }}

      <p style="padding: 3%;" id="inSpan"><font color="black">Welcome to the homepage of Erin Masterson's portofolio. This is a basic interface using two Angular components and CSS flex, as well as percentage measures.    <iframe width="640" height="480" frameborder="0" allowFullScreen webkitallowfullscreen mozallowfullscreen src="https://sketchfab.com/models/eddebb9ef4e34456a75baa97434cc96a/embed"></iframe></font>
</p>
    </span>
    <br>
  </div>
  <div id="container">
    <app-diagram></app-diagram>
  </div>
  <div id="tableOfContents">
    table of contents goes here
  </div>
</div>

